name: JOSS Paper Compilation
on:
  push:
    branches: [ main ]
    paths:
      - 'paper.md'
      - 'paper.bib'

jobs:
  build-paper:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      
      - name: Build paper
        uses: openjournals/openjournals-draft-action@main
        with:
          # This will compile your paper and provide feedback
          paper-path: paper.md
